[init]
	defaultBranch = main
[user]
	email = xtexchooser@duck.com
	name = xtex
	signingKey = 7231804B052C670F15A6771DB918086ED8045B91
[commit]
	gpgSign = true
	verbose = true
[tag]
	gpgSign = true
	forceSignAnnotated = true
[core]
	autocrlf = input
	abbrev = 12
	excludesfile = /home/xtex/.gitignore.common
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@codeberg.org:"]
	insteadOf = https://codeberg.org/
[pull]
	rebase = false
[merge]
	conflictstyle = zdiff3
	guitool = meld
[diff]
	tool = difftastic
	algorithm = histogram
	submodule = log
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[pager]
	difftool = true
[alias]
	dft = difftool
	logt = "!f() { GIT_EXTERNAL_DIFF=difft git log -p --ext-diff $@; }; f"
	l = log
	lt = logt
	ol = "log --oneline"
	c = commit
	p = push
	g = pull
	f = fetch
	s = status
	a = add
	d = diff
	dt = difftool
	cp = cherry-pick
	r = review
	stag = "send-email --to=~xtex/staging@lists.sr.ht"
[sendemail]
	smtpServer = mail.envs.net
	smtpEncryption = ssl
	smtpUser = xtex@envs.net
	from = xtex <xtex@envs.net>
	smtpDomain = xtexx.eu.org
[am]
	threeWay = true
