[init]
	defaultBranch = main
[user]
	email = xtexchooser@duck.com
	name = xtex
	signingKey = 7231804B052C670F15A6771DB918086ED8045B91
[commit]
	gpgSign = true
[tag]
	gpgSign = true
[core]
	autocrlf = input
[url "git@github.com:"]
	insteadof = https://github.com/
[pull]
	rebase = false
[merge]
	conflictstyle = diff3
[diff]
	tool = difftastic
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[pager]
	difftool = true
[alias]
	dft = difftool
	logt = "!f() { GIT_EXTERNAL_DIFF=difft git log -p --ext-diff $@; }; f"
	l = log
	lt = logt
	ol = "log --oneline"
	c = commit
	p = push
	g = pull
	f = fetch
	s = status
	a = add
	d = diff
	dt = difftool
	cp = cherry-pick
