[mysqld]
symbolic-links=0

[client]
socket = /var/run/mariadb/mariadbd.sock

[server]
datadir = /var/lib/mariadb/data
pid_file = /var/run/mariadb/mariadbd.pid
socket = /var/run/mariadb/mariadbd.sock

key_buffer_size = 10M
innodb_buffer_pool_size = 64M
default_storage_engine = InnoDB
max_allowed_packet = 256M
